template(name='linkEdit')
	+linksListHead
	section.formContainer
		form#linkEdit
			.linkFormUrl
				input(type='url', name='linkUrl', placeholder='http://', value=url)
				if urlExists
					label.error(for='linkUrl') URL Exists!
				if urlLength.required
					label.error(for='linkUrl') Required!
				if urlLength.max
					label.error(for='linkUrl') Max length!
			.linkFormTitle
				input(type='text', name='linkTitle', placeholder='Title', value=title, maxlength='80')
				if titleLength.required
					label.error(for='linkTitle') Required!
				if titleLength.max
					label.error(for='linkTitle') Max length!
			.linkFormTags
				input(type='tags', name='linkTags', placeholder='Tags (Separated by commas)', value=tags)
				label(for='linkTags') Tags
				.linkFormTagsPreview
					each getTags
						span {{this}}
			.linkFormSubmit
				button(type='submit', disabled=formDisabled)
					| Submit
		if editSuccess
			p Great success, much wow. Very redirect.
