template(name='userSignIn')
	.userSignIn
		.userSignInHeading
			h2 Sign in with:
		.userSignInButtons
			a.loginGit(href='#')
				i.fa.fa-github-square.fa-4x

			a.loginGoogle(href='#')
				i.fa.fa-google-plus-square.fa-4x